<html>
    <head>
        <title><%= siteTitle %> - <%= pageTitle %></title>
        <%-include ('head')-%>
        <style>
            * {
                border-radius: 0px !important;
            }
        </style>
    </head>
    <body>
        <%-include('sidebar');-%>