<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="p-4 pt-5">
            <a
                href="#"
                class="img logo rounded-circle mb-5"
                style="background-image: url(images/logo.jpg);"></a>
            <ul class="list-unstyled components mb-5">
                <li class="active"><a
                    href="/">POČETNA</a></li>
                <li class="active">
                    
                    <a
                        href="#SQLMenu"
                        data-toggle="collapse"
                        aria-expanded="false"
                        class="dropdown-toggle">BAZA | RELACIONA</a>
                    <ul class="collapse list-unstyled" id="SQLMenu">
                        <li>
                            <a href="/kategorije">Kategorije</a>
                        </li>
                        <li>
                            <a href="/predmeti">Predmeti</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a
                        href="#DocumentMenu"
                        data-toggle="collapse"
                        aria-expanded="false"
                        class="dropdown-toggle">BAZA | NERELACIONA</a>
                    <ul class="collapse list-unstyled" id="DocumentMenu">
                        <li>
                            <a href="/dokument/kategorije">DOKUMENT: Kategorije</a>
                        </li>
                        <li>
                            <a href="/dokument/predmeti">DOKUMENT: Predmeti</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <!---->
                    <a
                        href="#GraphMenu"
                        data-toggle="collapse"
                        aria-expanded="false"
                        class="dropdown-toggle">BAZA | GRAFOVI</a>
                    <ul class="collapse list-unstyled" id="GraphMenu">
                        <li>
                            <a href="http://localhost:7474">Pristup graf bazi</a>
                        </li>
                    </ul>
                </li>
                
            </ul>
            <!-- footer -->
            <div class="footer">
                <p>
                    ©Studentska aplikacija
                </p>
            </div>

        </div>
    </nav>
    <div id="content" class="p-4 p-md-5">