<%- include ('../partials/header'); -%>
            
            
            <img style="padding-top:10%" width="100%"src="/images/homepage.png"  alt="Rukovalac Informacionim Resursima">
            <div class="col s12" style="padding: 20;">
                <a href="/api-docs" class="btn btn-success btn-lg">Dokumentacija API-ja</a>
            </div>
<%- include ('../partials/footer'); -%>